@font-face {
    font-family: Shabnam;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/Shabnam-Bold-FD.eot');
    src: url('../fonts/Shabnam-Bold-FD.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/Shabnam-Bold-FD.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/Shabnam-Bold-FD.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/Shabnam-Bold-FD.ttf') format('truetype');
}

@font-face {
    font-family: Shabnam;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Shabnam-FD.eot');
    src: url('../fonts/Shabnam-FD.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/Shabnam-FD.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/Shabnam-FD.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/Shabnam-FD.ttf') format('truetype');
}

@font-face {
    font-family: Shabnam;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/Shabnam-Light-FD.eot');
    src: url('../fonts/Shabnam-Light-FD.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/Shabnam-Light-FD.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/Shabnam-Light-FD.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/Shabnam-Light-FD.ttf') format('truetype');
}

body{
    font-family: Shabnam, Tahoma !important;
    direction: rtl;
}
.bg-letsgo{
    background-color: #e6b31e !important;
}
.navbar-brand img{
    width: 100px;
}
.navbar-custom {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
    background: -webkit-linear-gradient(30deg, #343434, rgba(0, 0, 0, 0.7));
    background: -o-linear-gradient(30deg, #343434, rgba(0, 0, 0, 0.7));
    background: linear-gradient(20deg, #343434, rgba(0, 0, 0, 0.7));
}

.nav-item {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    -webkit-transition-property: border-bottom;
    transition-property: border-bottom;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.nav-item:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom:3px solid #e6b31e;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.nav-item:hover, .nav-item:focus, .nav-item:active {
    color: #e6b31e;
}

.nav-item:hover:before, .nav-item:focus:before, .nav-item:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("../pic/header.jpg");
    background-position: center center;
    background-size: cover;
}

header.masthead hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

header.masthead h1 {
    font-size: 2rem;
}

header.masthead p {
    font-weight: 300;
}

.btn {
    font-weight: 700;
    border: none;
    color: #fff;

}
.costume-btn {
    background-color: #e6b31e;
    border-color: #e6b31e;
}

.costume-btn:hover, .costume-btn:focus, .costume-btn:active {
    color: #fff;
    background-color: #c0901e !important;
}

.costume-btn:active, .costume-btn:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(230, 180, 30,0.5) !important;
    box-shadow: 0 0 0 0.2rem rgba(230, 180, 30,0.5) !important;
}
.icon{
    font-size:4rem;
    color:#e6b31e;
}
.icon:hover{
    font-size: 5rem;
}
.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

.call-to {
  position: relative;
  background-color: #cacaca;
  padding-top: 7rem;
  padding-bottom: 7rem;
}
footer {
  background-color: #343434;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.footer-links{
    color: #cacaca;
}
.footer-links:hover{
    color: #e6b31e;
    text-decoration: none;
}